#view_mobile {
    border-left: 3px solid black;
}

.uploadfile {
    text-align: center;
    margin-bottom: 10px;
}
.uploadfile img {
    max-height: 250px;
    width: 100%;
}

textarea {
    resize: vertical;
}